body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25fr;
    height: 100vh;
}

#parameters {
    display: grid;
    grid-template-rows: minmax(30px);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.2rem;
    grid-auto-flow: column;
    padding-bottom: 1em;
    padding-left: 0em;
    border: 2px solid #222222;
}

#results {
    display: grid;
    grid-row-gap: 1.15em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "decade     decade     decade  nombre nombre nombre nombre"
                         "percentile trend      gender  nombre nombre nombre nombre"
                         "sound       sound     sound   nombre nombre nombre nombre"
                         "syllabe    syllabe    count   nombre nombre nombre nombre"
                         "tableau    tableau    cloud   cloud  carte  carte carte"
                         "tableau    tableau    cloud   cloud  carte  carte carte"
                         "tableau    tableau    cloud   cloud  carte  carte carte";
    grid-template-rows: repeat(4, 1fr) repeat(2, 2fr);
    /*height: 96vh;*/
}

#parameters > div {
    border: 1px solid #222222;
}

#results > div {
    border: 0.2px dashed #222222;
}

#sound {
    grid-area: sound;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
}

.sound-container {
    font-size: xx-large;

}

div[class^="sound-container"] > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sound-container-selected {
    font-size: xx-large;
    background-color: aqua;
}

#syllabe {
    grid-area: syllabe;
    display: grid;
    grid-auto-flow: column;
}

.syllabe-container {
    font-size: xx-large;

}

div[class^="syllabe-container"] > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.syllabe-container-selected {
    font-size: xx-large;
    background-color: aqua;
}

#percentile {
    grid-area: percentile;
    display: grid;
    grid-auto-flow: column;
}

.percentile-container {
    font-size: xx-large;

}

div[class^="percentile-container"] > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.percentile-container-selected {
    font-size: xx-large;
    background-color: aqua;
}

#decade {
    grid-area: decade;
    display: grid;
    grid-auto-flow: column;
}

.decade-container {
    font-size: xx-large;

}

div[class^="decade-container"] > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.decade-container-selected {
    font-size: xx-large;
    background-color: aqua;
}

#gender {
    grid-area: gender;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
}

.gender-container {
    text-align: center;
}

div[class^="gender-container"] > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.gender-container-selected {
    text-align: center;
    background-color: aqua;
}

#trend {
    grid-area: trend;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
}

.trend-container {
    text-align: center;
}

div[class^="trend-container"] > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.trend-container-selected {
    text-align: center;
    background-color: aqua;
}

#nombre-container {
    grid-area: nombre;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

#carte {
    grid-area: carte;
}

#count {
    grid-area: count;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#count-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #915050;
    color: whitesmoke;
    border-radius: 25px;
    font-size: 4em;
}

#cloud {
    grid-area: cloud;
}

#tableau {
    grid-area: tableau;
}

.grid-selected {
    border: #222222;
    background-color: aqua;
}

.grid-unselected {
    border: #222222;
    background-color: #cccccc;
}

label {
    display: block;
}
